<h3>About the maker</h3>
<p>
    I am an average girl who loves to draw & code.<br />
    I loved and enjoyed artist communities based on web-based painting app which was very popular back in 2000ish<br />
    So I decided to create something similar so people can enjoy it like the old days!<br />

</p>


<h3>About PaintTool Ver 1.0</h3>

<p>
    This is web-based painting tool community that you can connect with other artists around the world.<br />
    Draw anything you love, explore and make friends.<br />
    Enjoy!!
</p>




