<h2>Register</h2>

<!--<fieldset>
    <legend>Register with a Social Provider</legend>
    <ul>
        <li ng-repeat="externalLogin in account.externalLogins">
            <a target="_self" href="{{externalLogin.url}}">{{externalLogin.name}}</a>
        </li>
    </ul>

</fieldset>-->

<fieldset>
    <legend>Registration</legend>
    <ul>
        <li ng-repeat="message in vm.validationMessages">
            {{message}}
        </li>
    </ul>

    <form ng-submit="vm.register()">
        <div>
            <label>First Name:</label>
            <input type=text ng-model="vm.registerUser.firstName" />
        </div>
        <div>
            <label>Last Name:</label>
            <input type=text ng-model="vm.registerUser.lastName" value="" />
        </div>

        <div>
            <label>Email:</label>
            <input ng-model="vm.registerUser.email" />
        </div>
        <div>
            <label>Password:</label>
            <input ng-model="vm.registerUser.password" />
        </div>
        <div>
            <label>Confirm Password:</label>
            <input ng-model="vm.registerUser.confirmPassword" />
        </div>
        <input type="submit" value="Register" />
    </form>

</fieldset>
